$yellow: rgb(247,208,91);
$purple: rgb(74,49,145);
$gray: rgb(248,248,247);
$orange: rgb(243,94,56);
$light_gray: rgb(232,232,231);
$light_yellow: rgb(251,243,210);
$light_orange: rgb(254,206,74);
$lighter_yellow: rgb(255,248,236);
$ligh_gray: rgb(167,160,153);
*{
  text-decoration: none !important;
  padding: 0;
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-y: visible;
}
.col-9{
  padding-right: 50px;
  padding-left: 50px;
}
nav{
  font-size: 1.25rem;
  height: 15vh;
  .nav-left{
    i{
      font-size: 2rem;
    }
    width: 15%;
    a{
      font-weight: bold;
      color: black;
      font-size: 2.5rem;
    }
  }
  .nav-middle{
    width: 75%;
    height: 10vh;
    background-color: $gray;
    input{
      width: 85%;
      outline: none;
      box-shadow: none;
      border: none;
      background-color: $gray;
      color: $gray;
    }
    input:focus{
      color: black;

    }
    box-sizing: border-box;
    border-radius: 20px;
  }
  .nav-right{
    width: 100px;
    .quantity {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      font-size: 1.5em;
      div{
        font-size: 1.5em;
      }
    }
  }
  margin: 4vh 2vh 7vh 2vh;
}
.main-menu {
  .header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .delivery-time {
    font-size: 1.25rem;
    width: 20%;
    border-radius: 30px;
    color: white;

    p {
      margin: 0;
    }
  }
  .items{
    width: 80%;
  }
  .category{
    width: 100%;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .item{
    height: 110px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
    div{
      border:  0.5px solid $gray;
      background-color: white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        font-size: 2em;
      }
    }
    p{
      font-weight: bold;
      font-size: 0.95em;
    }
    box-shadow: 16px -19px 25px 22px rgb(248,248,248);
  }
  .item-active{
    background-color: $yellow;
    div{
      border: 0;
    }
  }
}
.banner{
  border-radius: 30px;
  width: 100%;
  height: 200px;
  background-color: $lighter_yellow;
  h2{
    color: $orange;
    font-size: 3.5rem;
  }
  h5{
    color: $light_gray;
    font-size: 1.5rem;
  }
  div:nth-child(3){
    padding-bottom: 20px;
    color: $orange;
  }
  a{
    color: $orange;
    font-size: 1.5rem;
  }
}

.option{
  width: 300px;
  height: fit-content;
  border: none;
  .card-body{
    padding-left: 0;
  }
  img{
    border-radius: 30px;
  }
}
.address{
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  height: 100px;
  div{
    padding-left: 20px;
    padding-right: 20px;
  }
  .time{
    p{
      margin:0;
    }
    div{
      padding: 0;
      div{
        background-color: rgb(87,63,138);
        width: 30px;
        height: 30px;
        border-radius: 10px;
        font-size: 1.25em;
      }
    }
  }
}
.price{
  border-bottom: 2px solid $light_gray;
}
table{
  th{
    img{
      border-radius: 10px;
      width: 100px;
      height: 50px;
    }
  }
  td{
    div{
      font-weight: bold;
    }
    vertical-align: middle !important;
  }
}
.option{
  width: fit-content;
  height: fit-content;
  .info{
    width: 180px;
    .tags{
      width: 70px;
    }
  }
}
.checkout{
  margin-top: 30px;
  button{
    width: 200px;
    height: 58px;
    //position: absolute;
    right: 0px;
    border-radius: 30px 0px 0px 30px;;
    text-align: left;
    padding-left: 30px;
    font-size: 1.4rem;
  }
}
.margin{
  padding: 15px 15px 15px 15px;
}
.box{
  border: 1px solid $gray;
  width: 80px ;

}
.col-right{
  padding: 0px 0px 15px 15px;
}
.padding-left-30{
  padding-left: 30px;
  font-size: 1.25rem;
  div{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.25em;
  }
}
.left-btn{
  background-color: $gray;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.option{
  img{
    width: 250px;
    height: 150px;
  }
}
.deli{
  background-color: $light_yellow;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  i{
    color: $light_orange;
    font-size: 2rem;
  }
}
.bg-yellow{
  background-color: $yellow;
}
.bg-gray{
  background-color: $gray;
}
.bg-orange{
  background: $orange;
}
.bg-purple{
  background-color: $purple;
}
.font-color-yellow{
  color: $yellow;
}
.row{
  padding: 0;
  margin: 0;
}
