* {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: visible;
}

.col-9 {
  padding-right: 50px;
  padding-left: 50px;
}

nav {
  font-size: 1.25rem;
  height: 15vh;
  margin: 4vh 2vh 7vh 2vh;
}
nav .nav-left {
  width: 15%;
}
nav .nav-left i {
  font-size: 2rem;
}
nav .nav-left a {
  font-weight: bold;
  color: black;
  font-size: 2.5rem;
}
nav .nav-middle {
  width: 75%;
  height: 10vh;
  background-color: #f8f8f7;
  box-sizing: border-box;
  border-radius: 20px;
}
nav .nav-middle input {
  width: 85%;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #f8f8f7;
  color: #f8f8f7;
}
nav .nav-middle input:focus {
  color: black;
}
nav .nav-right {
  width: 100px;
}
nav .nav-right .quantity {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5em;
}
nav .nav-right .quantity div {
  font-size: 1.5em;
}

.main-menu .header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-menu .delivery-time {
  font-size: 1.25rem;
  width: 20%;
  border-radius: 30px;
  color: white;
}
.main-menu .delivery-time p {
  margin: 0;
}
.main-menu .items {
  width: 80%;
}
.main-menu .category {
  width: 100%;
  height: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-menu .item {
  height: 110px;
  width: 60px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 16px -19px 25px 22px #f8f8f8;
}
.main-menu .item div {
  border: 0.5px solid #f8f8f7;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu .item div i {
  font-size: 2em;
}
.main-menu .item p {
  font-weight: bold;
  font-size: 0.95em;
}
.main-menu .item-active {
  background-color: #f7d05b;
}
.main-menu .item-active div {
  border: 0;
}

.banner {
  border-radius: 30px;
  width: 100%;
  height: 200px;
  background-color: #fff8ec;
}
.banner h2 {
  color: #f35e38;
  font-size: 3.5rem;
}
.banner h5 {
  color: #e8e8e7;
  font-size: 1.5rem;
}
.banner div:nth-child(3) {
  padding-bottom: 20px;
  color: #f35e38;
}
.banner a {
  color: #f35e38;
  font-size: 1.5rem;
}

.option {
  width: 300px;
  height: fit-content;
  border: none;
}
.option .card-body {
  padding-left: 0;
}
.option img {
  border-radius: 30px;
}

.address {
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  height: 100px;
}
.address div {
  padding-left: 20px;
  padding-right: 20px;
}
.address .time p {
  margin: 0;
}
.address .time div {
  padding: 0;
}
.address .time div div {
  background-color: #573f8a;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.25em;
}

.price {
  border-bottom: 2px solid #e8e8e7;
}

table th img {
  border-radius: 10px;
  width: 100px;
  height: 50px;
}
table td {
  vertical-align: middle !important;
}
table td div {
  font-weight: bold;
}

.option {
  width: fit-content;
  height: fit-content;
}
.option .info {
  width: 180px;
}
.option .info .tags {
  width: 70px;
}

.checkout {
  margin-top: 30px;
}
.checkout button {
  width: 200px;
  height: 58px;
  right: 0px;
  border-radius: 30px 0px 0px 30px;
  text-align: left;
  padding-left: 30px;
  font-size: 1.4rem;
}

.margin {
  padding: 15px 15px 15px 15px;
}

.box {
  border: 1px solid #f8f8f7;
  width: 80px;
}

.col-right {
  padding: 0px 0px 15px 15px;
}

.padding-left-30 {
  padding-left: 30px;
  font-size: 1.25rem;
}
.padding-left-30 div {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.25em;
}

.left-btn {
  background-color: #f8f8f7;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.option img {
  width: 250px;
  height: 150px;
}

.deli {
  background-color: #fbf3d2;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.deli i {
  color: #fece4a;
  font-size: 2rem;
}

.bg-yellow {
  background-color: #f7d05b;
}

.bg-gray {
  background-color: #f8f8f7;
}

.bg-orange {
  background: #f35e38;
}

.bg-purple {
  background-color: #4a3191;
}

.font-color-yellow {
  color: #f7d05b;
}

.row {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
